/* 网页设计开始 */
.page{
    position: absolute;
    left: 240px;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #2d2d2d;
    /*overflow: hidden;*/
    transition: ease-out 0.4s;
}
@media screen and(max-width: 660px){
    .page{
        left: 80px;
    }
}
.front{
    background: url("../images/front-background.jpg")no-repeat center bottom;
    background-size: cover;
}
.content-area{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}
.front .box{
    position: static !important;
    width: auto;
    /*overflow: hidden;*/
}
.front .box .content{
    position: absolute;
    top: 47.8%;
    width: 100%;
    margin: -185px 0 0 0;
}
.page .box .content .action{
    text-align: center;
}
.page .box .content .animated{
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
/* 图片与文字盒子 */
.page .box .content .action .link{
    width: 180px;
    height: 220px;
    display: inline-block;
    margin: 0 60px;
}
/* 图片盒子 */
.page .box .content .action .link .icon{
    width: 180px;
    height: 170px;
    display: block;
    transition: ease-out 0.2s;
}
/* 图片 */
.page .box .content .action .mission-link .icon{
    /*background: url(http://www.iuvo.si/sites/all/themes/iuvo/images/svg/icon-console.svg)no-repeat center;
    -webkit-background-size: 178px 109px;
    background-size: 178px 109px;*/
    background: url("../images/mission.png")no-repeat center;
}
.page .box .content .action .play-link .icon{
    /*background: url(http://www.iuvo.si/sites/all/themes/iuvo/images/svg/icon-rocket.svg)no-repeat center;
    -webkit-background-size: 178px 109px;
    background-size: 126px 126px;*/
    background:url("../images/play.png")no-repeat center;
}
.page .box .content .action .touch-link .icon{
    /*background:url(http://www.iuvo.si/sites/all/themes/iuvo/images/svg/icon-location.svg)no-repeat center;
    -webkit-background-size: 178px 109px;
    background-size: 132px 138px;*/
    background:url("../images/touch.png")no-repeat center;
}
/* 图片hover 特效 */
.page .box .content .action .link .icon:hover{
    transform: scale(1.2) rotate(360deg);
}

/* 文字盒子 */
.page .box .content .action .link .button{
    position: relative;
    display: block;
    width: 156px;
    height: 46px;
    /*background: green url("http://www.iuvo.si/sites/all/themes/iuvo/images/svg/icon-button-arrow.svg")no-repeat 130px center;*/
    background: url("../images/allow.png")no-repeat 130px center;
    line-height: 46px;
    border:2px solid rgba(255,255,255,0.8);
    color: #2dcb70;
    font-size: 18px;
    padding:  0  0 0 20px;
    text-align: left;
    font-weight: bolder;
    transition: ease-out 0.2s;
}
/* 文字盒子边框与箭头特效 */
.page .box .content .action .link .button:hover{
    background-position: 140px center;
    border:2px solid rgba(255,255,255,1);
}
/* 文字盒子的线条特效 */
.page .box .content .action .link .button .line{
    position: absolute;
    background: none;
    transition: ease-out 0.2s;
}
.page .box .content .action .link .button:hover .line{
    background: #ffffff;
}
.box .link .button .line-top{
    width: 50px;
    height: 2px;
    top: -2px;
    left: -150px;
}
.page .box .content .action .link .button .line-right{
    width: 2px;
    height: 50px;
    top: -150px;
    right: -2px;
}
.page .box .content .action .link .button .line-bottom{
    width: 50px;
    height: 2px;
    top: 46px;
    right: -150px;
}
.page .box .content .action .link .button .line-left{
    width: 2px;
    height: 50px;
    top: 150px;
    left: -2px;
}
.page .box .content .action .link .button:hover .line-top{
    left: -2px;
}
.page .box .content .action .link .button:hover .line-right{
    top: -2px;
}
.page .box .content .action .link .button:hover .line-bottom{
    right: -2px;
}
.page .box .content .action .link .button:hover .line-left{
    top: -2px;
}
.page .box .content .tit{
    width: 100%;
    padding: 0 50px;
    text-align: center;
}
.page .box .content h1{
    height: 60px;
    margin: 45px 0 0 0;
}
.page .box .content h2{
    margin-top: 24px;
    height: 24px;
}
.page .box .content a{
    text-decoration: none;
    color: #ffffff;
}
.page .box .content h1 a{
    display: block;
    font-size: 64px;
}
.page .box .content h2 a{
    font-weight: 600;
    font-size: 24px;
}
















